PORT=3030
FLUX_SESSION_SECRET=change-this-secret

FLUX_SITE_TITLE=Flux Nodejs Panel 
FLUX_SERVER_NAME=FluxRO

FLUX_LOGIN_DB_HOST=127.0.0.1
FLUX_LOGIN_DB_PORT=3306
FLUX_LOGIN_DB_USER=root
FLUX_LOGIN_DB_PASSWORD=usbw
FLUX_LOGIN_DB_NAME=ragnarok2

FLUX_CHAR_DB_HOST=127.0.0.1
FLUX_CHAR_DB_PORT=3306
FLUX_CHAR_DB_USER=root
FLUX_CHAR_DB_PASSWORD=usbw
FLUX_CHAR_DB_NAME=ragnarok2

FLUX_LOGIN_SERVER_HOST=127.0.0.1
FLUX_LOGIN_SERVER_PORT=6900
FLUX_LOGIN_USE_MD5=false
FLUX_LOGIN_NO_CASE=true
FLUX_CHAR_SERVER_HOST=127.0.0.1
FLUX_CHAR_SERVER_PORT=6121
FLUX_MAP_SERVER_HOST=127.0.0.1
FLUX_MAP_SERVER_PORT=5121

FLUX_CMS_NEWS_TABLE=cp_cmsnews
FLUX_LOGIN_LOG_TABLE=cp_loginlog
FLUX_ONLINE_PEAK_TABLE=cp_onlinepeak
FLUX_CREDITS_TABLE=cp_credits

FLUX_USERNAME_ALLOWED_CHARS=a-zA-Z0-9_
FLUX_MIN_USERNAME_LENGTH=4
FLUX_MAX_USERNAME_LENGTH=23
FLUX_MIN_PASSWORD_LENGTH=8
FLUX_MAX_PASSWORD_LENGTH=31
FLUX_PASSWORD_MIN_UPPER=1
FLUX_PASSWORD_MIN_LOWER=1
FLUX_PASSWORD_MIN_NUMBER=1
FLUX_PASSWORD_MIN_SYMBOL=0
FLUX_CHAR_RANKING_LIMIT=20
FLUX_GUILD_RANKING_LIMIT=20
